@import "fonts.css";

@media (prefers-color-scheme: dark) {
  body {
    background-color: black;
    /* color: white; */
  }
}

body {
  font-family: iAWriterDuospace, sans-serif;
}

.content-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto;
  width: 90vw;
  height: 95vh;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.location-wrapper {
  width: 75vmin;
  padding: 10px;
}

.location-wrapper * {
  display: inline-block;
  background-color: #aaa;
  /* see site.js for padding (had to be changed with jQuery) */
  margin: 10px 0;
  border-radius: 10px;
}

.territories {
  font-weight: bold;
}

.territories-map {
  align-self: center;
  height: 75vmin;
  width: 75vmin;
}

.territories-map * {
  height: inherit;
  width: inherit;
  border-radius: 15px;
}

.ld-bar {
  margin: auto;
}
